.root {
  width: 70vw;
  height: 35vw;
  background-color: white;
  margin: auto;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  box-shadow: 16px 16px 0px rgba(0, 0, 0, 0.09);
  overflow: hidden;
  object-fit: contain;
  
  p,
  h2 {
    margin: auto;
    width: 70%;
    font-family: "Open Sans", sans-serif;
    color: #5B0E0E;
    letter-spacing: 0.05em;
    line-height: 108.6%;
    align-self: center;
  }

  h2 {
    font-weight: bolder;
    align-self: center;
  }


  img {
    width: 100%;
    filter: contrast(110%) brightness(70%);
  }
}

.work {
    align-self: center;
}